footer {
  background-color: var(--bg-header);
}

.footer {
  color: var(--color-a);
  padding: clamp(20px, 1.875vw, 30px) 0 20px;
  display: flex;
  grid-gap: 30px;
  justify-content: space-between;

  &__nav {
    max-width: 700px;
    width: 100%;

    &-list {
      flex-wrap: wrap;
      grid-gap: 10px clamp(20px, 1.875vw, 30px);
    }
  }

  &__bottom {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .info-list {
    flex-shrink: 0;


    @include desktop {
      flex-direction: column;
      align-items: flex-end;

      .number-list {
        display: none;
      }
    }
  }

  @include laptop {
    display: grid;
    grid-template-columns: repeat(2, auto);

    .logo {
      order: 1;
    }

    .footer__nav {
      order: 3;
      grid-column: span 2;
      max-width: 100%;
    }

    .info-list {
      order: 2;
    }

    .footer__nav-list {
      display: inline-flex;
      justify-content: center;
    }
  }



  @include mobile {
    grid-template-columns: 100px 1fr;
    grid-gap: 30px 0;


    .site-nav__link {
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      text-transform: initial;
    }
    .footer__nav-list {
      display: inline-flex;
      justify-content: center;
    }

    .logo {
      max-width: 100px;
    }

    .info-list__link {
      font-size: 14px;
      line-height: 16px;
      grid-gap: 8px;

      svg {
        width: 23px;



      }
    }
  }




}

.footer-info {
  padding: 10px 0;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: var(--color-e);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  grid-gap: 5px;


  a {
    text-decoration: underline;
  }

  br {
    display: none;
  }


  @include tablet {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;

    br {
      display: initial;
    }
  }
}

.footer + .footer-info {
  margin-top: clamp(20px, 1.875vw, 30px);
}
