header {
  background-color: var(--bg-header);
}

.header {
  color: var(--color-a);
  padding: clamp(20px, 1.875vw, 30px) 0 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: clamp(20px, 1.875vw, 30px);
  justify-content: space-between;

  &__bottom {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    width: clamp(180px, 17.063vw, 273px);
  }

  &__nav {
    .site-nav__link {
      font-size: clamp(13px, 1.27vw, 15px);
    }
  }

  &__info-list {
    @include tablet {
      grid-gap: 10px;


      .number-list__item:nth-child(1),
      .info-list__link span {
        display: none;
      }
    }


    @include mobile {
      .info-list__link {
        width: 30px;
        height: 30px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }


  &__logo {
    @include tablet {
      width: clamp(100px, 41.667vw, 200px);
    }

    @media (max-width: 360px) {
      max-width: 100px;
    }
  }


  @include tablet {
    grid-template-columns: 25px auto 1fr;
    align-items: center;
    grid-gap: 20px;
  }

  @include mobile {
    grid-gap: 15px;
  }
}
