// ------------------------------- first level
// @import "general/normalize";
// ------------------------------- second level
@import "general/fonts";
@import "general/vars";
@import "general/mixins";
@import "general/npm-styles";
@import "general/swiper";
@import "general/lightbox";
// ------------------------------- third level
@import "general/global";
@import "general/custom-icon";
@import "general/typography";
@import "general/components";
@import "general/blocks";




