<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>DG_Finance</title>

    <link rel="preload" href="fonts/Lato-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-ExtraBold.woff2" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
