<header>
  <div class="container container--mode">
    <div class="header">

      <button class="burger">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <a href="index.html" class="logo header__logo">
        <svg width="200" height="41">
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <div class="info-list header__info-list">
        <a href="#contact" class="adress-link info-list__link anchor-button" data-scroll>
          <span>
            44012, Україна <br>
            м. Київ, вул. Хмельницького 38
          </span>

          <svg width="32" height="40">
            <use href='img/sprite/sprite.svg#location'></use>
          </svg>
        </a>

        <ul class="number-list">
          <li class="number-list__item">
            <a href="tel:+380993332211" class="info-list__link">
              +38 (099) 333-22-11
            </a>
            <a href="tel:+380993332211" class="info-list__link">
              +38 (099) 333-22-11
            </a>
          </li>

          <li class="number-list__item">
            <a href="tel:+380993332211" class="info-list__link telegram-button">
              <svg width="40" height="40">
                <use href='img/sprite/sprite.svg#telegram'></use>
              </svg>
            </a>
            <a href="tel:+380993332211" class="info-list__link viber-button">
              <svg width="40" height="40">
                <use href='img/sprite/sprite.svg#viber'></use>
              </svg>
            </a>
          </li>

        </ul>
      </div>


      <div class="header__bottom">
        <nav class="site-nav header__nav">
          <ul class="site-nav__list">
            <li class="site-nav__item">
              <a href="index.html" class="site-nav__link">
                Головна
              </a>
            </li>
            <li class="site-nav__item">
              <a href="about.html" class="site-nav__link">
                про компанію
              </a>
            </li>
            <li class="site-nav__item accordion">
              <span class="site-nav__link" data-id="menu">
                Позичальникам
              </span>

              <nav class="site-nav__subnav" data-content="menu">

                <ul class="site-nav__sublist">
                  <li class="site-nav__sublist-item">
                    <a href="faq.html" class="site-nav__link">
                      Питання та відповіді
                    </a>
                  </li>
                  <li class="site-nav__sublist-item">
                    <a href="consequences.html" class="site-nav__link">
                      наслідки несплати боргу
                    </a>
                  </li>
                  <li class="site-nav__sublist-item">
                    <a href="ident.html" class="site-nav__link">
                      ідентифікація боргу
                    </a>
                  </li>
                </ul>


              </nav>

            </li>
            <li class="site-nav__item">
              <a href="invest.html" class="site-nav__link">
                Інвестиції та партнерство
              </a>
            </li>
            <li class="site-nav__item">
              <a href="proposition.html" class="site-nav__link">
                Спеціальні пропозиції
              </a>
            </li>
          </ul>
        </nav>

        <a href="mailto:test@gmail.com" class="mail-btn header__btn">
          <svg width="15" height="12">
            <use href='img/sprite/sprite.svg#mail'></use>
          </svg>
          Написати листа
        </a>
      </div>


    </div>
  </div>

  <div class="mobile-menu">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="tel:+380993332211" class="mobile-menu__link">
          +38 (099) 333-22-11
        </a>
      </li>
      <li class="mobile-menu__item">
        <a href="tel:+380993332211" class="mobile-menu__link">
          +38 (099) 333-22-11
        </a>
      </li>
    </ul>


  </div>




</header>
