.multirow-slider {
  overflow: initial;

  &--mode {
    .multirow-slider__link {
      @include tablet {
        pointer-events: none;
      }
    }
  }

  @include for-laptop {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: stretch;
      grid-gap: 20px;
    }
  }

  @include for-desktop {
    .swiper-wrapper {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__slide {
    background-color: var(--bg-a);
    border: 1px solid var(--border-c);
    overflow: hidden;
    max-width: 250px;

    &:hover {
      .multirow-slider__hidden {
        transform: translateY(0);
        pointer-events: initial;
      }
    }

    @include tablet {
      &:focus {
        .multirow-slider__hidden {
          transform: translateY(0);
          pointer-events: initial;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: clamp(120px, 11.875vw, 190px);
  }

  &__hidden {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--border-c);
    background-color: var(--color-a);
    z-index: 2;
    transform: translateY(100%);
    // transition: all .4s;
    pointer-events: none;

    &-link {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: var(--color-g);

      @include for-tablet {
        display: none;
      }
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      border-top: 0;
      justify-content: space-around;


      &::before {
        width: 100%;
        height: 1px;
        content: '';
        background-color: var(--border-c);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

    }
  }



  &__download {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    grid-gap: 10px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--color-g);
    background-color: var(--bg-a);

    svg {
      fill: var(--bg-c);
    }

    @include tablet {
      padding: 0;
    }
  }
}
