body {
  margin: 0;
  padding: 0;
  color: var(--color-b);
  background-color: var(--body-bg);
  width: 100%;
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  min-height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow-x: hidden;
}


footer {
  flex: 0 0 auto;
}

html {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-flex;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

main {
  flex: 1 0 auto;
}

button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: initial;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


picture {
  display: inline-flex;
}

label {
  display: inline-flex;
}

input {
  width: 100%;
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}

input[type="number"] {
  appearance: textfield;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  position: relative;
  padding: 0 var(--container-offset);

  &--mode {
    max-width: calc(1600px + var(--container-offset));
  }

}

.panel,
[data-content] {
  z-index: 20;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s linear;
}

[data-tab-content] {
  display: none;

  &.active {
    display: block;
  }
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none !important;
  scroll-behavior: none !important;
}

.lift {
  position: fixed;
  width: clamp(25px, 3.125vw, 50px);
  height: clamp(25px, 3.125vw, 50px);
  border-radius: 50%;
  bottom: clamp(10px, 3.125vw, 50px);
  left: clamp(10px, 3.125vw, 50px);
  background-color: var(--bg-c);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all .4s;
  transform: translateX(-250%);

  svg {
    fill: var(--color-a);
  }

  &.show {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  visibility: hidden;
  z-index: 20;
  overflow-y: scroll !important;
  transition: opacity .5s ease;
  opacity: 0;




  &.active {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    display: flex;
    padding: 20px 20px;
    min-height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
    pointer-events: none;



    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}


* {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-g);
    transition: all .4s;
    cursor: pointer;

    &:hover {
      background-color: #048ee3;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-h);

    &:hover {
      background-color: var(--bg-h);
    }
  }

  &::-webkit-scrollbar-button {
    background-color: transparent;
    box-shadow: none;
    display: none;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


.modal {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: all .4s;
  transition-delay: 0;
  transform: translateY(-100vh) scale(0);

  &.active {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
    position: relative;
    transition-delay: .5s;
    pointer-events: initial;
  }
}

